name = "backend"
compatibility_date = "2023-12-01"
main = "src/index.ts"

[vars]
ENCRYPTION_KEY = "MxiqsEVMdICHsMoFwnxSkQ==" # example
INITIALIZATION_VECTOR = "8y9PLzSSAhvWZzYm" # example

[[kv_namespaces]]
binding = "hackathon"
id = "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"

[[d1_databases]]
binding = "DB" # i.e. available in your Worker on env.DB
database_name = "hackathon"
database_id = "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
migrations_dir = "drizzle"
